# Reed Jobseeker API from reed.co.uk/developers
REED_API_KEY=your_api_key_here

# Local MongoDB connection string
MONGO_URI=mongodb://localhost:27017

# AWS S3 credentials to upload exported JSON file.
AWS_ACCESS_KEY_ID=your_access_key_id_here
AWS_SECRET_ACCESS_KEY=your_secret_access_key_here
AWS_S3_BUCKET=your-bucket-name-here

# Anthropics API key for Claude LLM. RAG (claude-haiku-4-5)
ANTHROPIC_API_KEY=your_key_here